.modalHeader {
  background: #ded4e1;
  padding-left: 30px;
  padding-right: 16px ;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
  }

  .closeBtn {
    width: 35px;
    height: 35px;
    background-color: transparent;
  }
}

.paginationRoot {
  button {
    background-color: #bdb2d2;
  }

  button:where([data-active]) {
    background-color: #3e7e96;
  }

  button:not([data-active]):hover {
    background-color: #ada0c6;
  }
}
