.symbolContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.symbolRow {
  width: 15%;
}

.priceChange {
  width: 20%;
}

.priceIncrease {
  color: green;
}

.priceDrop {
  color: red;
}
